<div class="col-sm-4 col-lg-3 py-2">
    <div class="card" id="card-style" style="border-radius: 15px;">
        <a href="#{{productname}}{{model}}" data-toggle="modal" data-target="#{{productname}}{{model}}">
        <div class="product-card-details">
            <div>
                <img class="card-img-top" id="product-pic" height="180" width="180" src="{{prodpic}}" alt="Card image cap">
            </div>
                <span id="product-model">{{model}}</span>
                <h5 class="card-title" id="product-title">{{productname}}</h5>
        </div>
        </a>
    </div>
</div>
